name: presubmit

on:
  pull_request:
    branches:
      - main

concurrency:
  group: presubmit-${{ github.ref }}
  cancel-in-progress: true

jobs:
  ci:
    uses: ./.github/workflows/ci.yml

  all-checks-pass:
    needs: ci
    runs-on: ubuntu-latest
    if: always()
    steps:
      - run: exit 1
        if: needs.ci.result != 'success'
