name: presubmit

on:
  pull_request:
    branches:
      - main

concurrency:
  group: presubmit-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build-unix:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, ubuntu-24.04-arm, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/setup-python@v6
        with:
          python-version: "3.13"

      - name: Setup cmake
        uses: jwlawson/actions-setup-cmake@v2
        with:
          cmake-version: '4.1.2'

      - uses: actions/checkout@v5

      - name: Build
        run: ./build.sh

      - name: Smoke test
        run: ls -al out/build/envy && ./out/build/envy -v

      - name: Functional tests
        run: python3.13 -m functional_tests

  build-windows:
    runs-on: windows-latest
    steps:
      - uses: actions/setup-python@v6
        with:
          python-version: "3.13"

      - name: Setup cmake
        uses: jwlawson/actions-setup-cmake@v2
        with:
          cmake-version: '4.1.2'

      - uses: actions/checkout@v5

      - name: Configure and build
        shell: powershell
        run: |
          &"C:\Program Files\Microsoft Visual Studio\2022\Enterprise\Common7\Tools\Launch-VsDevShell.ps1" -Arch amd64 -HostArch amd64
          ./build.bat

      - name: Smoke test
        shell: cmd
        run: |
          dir out\build\envy.exe
          out\build\envy.exe -v

      - name: Functional tests
        run: python3.13 -m functional_tests

  all-checks-pass:
    timeout-minutes: 5
    needs:
      - build-unix
      - build-windows
    runs-on: ubuntu-latest
    if: always()
    steps:
      - name: Fail with upstream jobs
        run: exit 1
        if: (needs.build-unix.result != 'success') || (needs.build-windows.result != 'success')
