name: presubmit

on:
  pull_request:
    branches:
      - main

concurrency:
  group: presubmit-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build-linux:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-python@v6
        with:
          python-version: "3.13"
      - name: Setup cmake
        uses: jwlawson/actions-setup-cmake@v2
        with:
          cmake-version: '4.1.2'
      - uses: actions/checkout@v5
      - name: Build
        run: ./build.sh
      - name: Smoke test
        run: ./out/build/envy -v

  build-macos:
    runs-on: macos-latest
    steps:
      - uses: actions/setup-python@v6
        with:
          python-version: "3.13"
      - name: Setup cmake
        uses: jwlawson/actions-setup-cmake@v2
        with:
          cmake-version: '4.1.2'
      - uses: actions/checkout@v5
      - name: Build
        run: ./build.sh
      - name: Smoke test
        run: ./out/build/envy -v

  all-checks-pass:
    timeout-minutes: 5
    needs:
      - build-linux
      - build-macos
    runs-on: ubuntu-latest
    if: always()
    steps:
      - name: Fail with upstream jobs
        run: exit 1
        if: (needs.build-linux.result != 'success') || (needs.build-macos.result != 'success')
